@import "Fonts.css";

.pane{
    -fx-background-image: url("../picturesForApp/background.jpg");
    /*-fx-background-image: url("https://coolbackgrounds.io/images/backgrounds/blue/blue-trianglify-8e4a0501.jpg");*/
    /*-fx-background-image: url("https://images.designtrends.com/wp-content/uploads/2017/02/Simple-Abstract-Blue-Background-HQ.jpg");*/
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    /*-fx-background-position: bottom center;*/
    -fx-background-size: 950 740;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
    /*-fx-background-color: white;*/
}

.center-content{
    -fx-background-color: rgba(255,255,255,0.65);
    -fx-background-radius: 8px;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-border-color: #D7D7D7;
    /*-fx-effect: dropshadow(gaussian, black, 30, 0.1, 0, 0);*/
    -fx-text-fill: black;

}


.center-content .label{
    -fx-text-fill: black;

    -fx-font-family: Montserrat !important;
}

.header{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.text-field{
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: #515151;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.label{
    -fx-font-family:"Montserrat Regular";
}


.button{
    /*#65def7*/
    /*41d2f2*/
    -fx-cursor: hand;
    -fx-background-color: #3dcaf4;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}


.button:hover{
    -fx-background-color: #34b5db;
    -fx-alignment: center;
}

.combo-box{
    -fx-border-width: 0.75px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-background-color: white;
}

.combo-box-popup .list-view{
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.combo-box-popup .list-view .list-cell{
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.cancel-button{
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-fill: #939393;
    -fx-font-size: 14px;
    -fx-border-width: 2px;
    -fx-border-color: #939393;
}
.cancel-button:hover{
    -fx-background-color: ghostwhite;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-fill: #939393;
    -fx-font-size: 14px;
    -fx-border-width: 3px;
    -fx-border-color: #939393;
}

.transparent-button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.transparent-button:hover{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    /*-fx-font-weight: bold;*/
}

.shop-item{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #D7D7D7;
    -fx-cursor: hand;
}

.shop-item-selected{
    -fx-background-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-border-color: derive(#3dcaf4, 50%);

}

.shop-name{
    /*-fx-font-family: "Arial Black";*/
    -fx-font-family: Montsterrat Medium;
    -fx-font-size: 30px;
}

.shopping-cart-sum-box{
    -fx-background-color: #defdff;
    -fx-border-width: 2px;
    -fx-border-color: #70cfd5;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.distance-text{
    -fx-text-fill: #939393;
}

.scroll-pane{
    -fx-background-color: white;
}

.shop-product{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: #D7D7D7;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.product-name{
    -fx-alignment: top-left;
    -fx-font-size: 16px;
    /*-fx-font-weight: bold;*/
}
.product-detail{
    -fx-alignment: bottom-left;
    -fx-font-size: 16px;
    /*-fx-font-weight: bold;*/
}

.price-label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;

}

.close-button{
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-cursor: hand;
}


.close-button:hover{
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.thumb{
    -fx-background-color: #3dcaf4;
}

.increment-arrow, .decrement-arrow{
    -fx-border-color: #2f4761;
}

.increment-button, .decrement-button{
    -fx-background-color: #3dcaf4;
}


.spinner{
    -fx-background-radius: 10px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button{
    -fx-body-color: #3dcaf4;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover{
    -fx-body-color: #34b5db;
    -fx-cursor: hand;
}

.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed{
    -fx-body-color: #3dcaf4;
    -fx-cursor: hand;
}

.spinner .increment-arrow,
.spinner .decrement-arrow{
    -fx-background-color: white;
    -fx-border-color: white;
}

.paging-button{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 70px;
    -fx-border-radius: 70px;
    -fx-border-width: 2px;
    -fx-max-height: 45px;
    -fx-min-height: 45px;
    -fx-max-width: 45px;
    -fx-min-width: 45px;
}

.paging-button:hover{
    -fx-border-color: derive(#34b5db, 50%);
}
.paging-button:pressed{
    -fx-border-color: derive(#34b5db, 50%);
    -fx-background-color: #3dcaf4;

}

.purchases-h1{
    -fx-font-size: 27px;
    -fx-font-weight: bold;
}
.purchases-h2{
    -fx-font-size: 19px;
}

.purchase-item-h1{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.purchase-item-text{
    -fx-font-size: 15px;
}

/*.scroll-pane{*/
/*    -fx-background-color:  rgba(0,0,0,0);*/
/*    -fx-background:  rgba(0,0,0,0);*/
/*}*/

.shopping-check-list-purchased{
    /*-fx-border-width: 5px;*/
    /*-fx-border-color: derive(darkgreen, 80%);*/
    /*-fx-border-radius: 8px;*/
    -fx-effect: dropshadow(three-pass-box, green, 10, 0.4, 0, 0);

}
.shopping-check-list-unavailable{
    /*-fx-border-width: 5px;*/
    /*-fx-border-color: derive(red, 50%);*/
    /*-fx-border-radius: 8px;*/
    -fx-effect: dropshadow(three-pass-box, red, 10, 0.4, 0, 0);



}
