@font-face {
    font-family: "Montsterrat ";
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("fonts/Montserrat-Light.ttf");
}