@import "Fonts.css";

.side-menu{
    -fx-background-color: rgba(255,255,255,0.05);
    -fx-background:   rgba(255,255,255,0.05);
}

.pane{
    -fx-background-image: url("../picturesForApp/sidemenu-bg.png");
    -fx-background-color: #60d7f0;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-size: 235 740;
}

.button{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-family: Montserrat;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: rgba(0,0,0,0.1);
}
