@import "Fonts.css";

.top-menu{
    -fx-background-color: #3dcaf4;
}
.button{
    -fx-background-color: #019ccb;
    -fx-font-weight: bold;
    -fx-font-family: Montserrat;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}